#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #modal-content {
    position: absolute;
    background-color: white;
    min-width: 350px;
  }

  #modal-content form {
    width: 100%;
  }

  #modal-content input {
    display: block;
    width: 300px; 
    height: 24px;
    padding: 5px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #modal-content input[type="text"],
#modal-content input[type="password"] {
  width: 100%;  
}
#modal-content label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  #modal-content button {
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 220px; 
    display: block;
    margin: 15px auto 0;
  }
