/* TODO: Add sitewide styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: #222;
    background-color: #eddfdf;
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
    justify-content: space-between;
    background-color: white;
}


li {
    margin-right: 15px;
  }

  ul li:first-child {
    margin-right: auto;
  }
  

  .hidden {
    display: none;
  }

