/* TODO: Add sitewide styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: #222;
    background-color: #f4e9e9;
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-weight: bold;
  }

  a[href="/spots/current"] {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
  }

  button {
    cursor: pointer;
    font-size: 14px;
}

  button:hover {
    background-color: #e31c5f;
  }

  button svg {
    font-size: 30px;
  }

  ul li:last-child button {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
  }

  ul {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
    justify-content: space-between;
    background-color: white;
}


li {
    margin-right: 15px;
  }

  ul li:first-child {
    margin-right: auto;
  }
  

  

  .profile-dropdown {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid hsl(0, 87%, 44%);
  
    padding: 12px;
  
  
  }

  .hidden {
    display: none;
  }

  .spot-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button {
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e31c5f;
}

.star-icon {
    color: #ff385c;
}

.rating-display .star-icon {
    color: #ff385c;
}

.spot-card {
    border: 2px solid #070000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.spots-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}